//Variables de Estilos//
$mainFont: 'Nunito', sans-serif;
$blue:#037ef3;
$gray:#caccd1;
$white:#f3f4f7;
$orange:#f48924;
$red:#e4002b;

body
{    
    margin: 0;
    padding: 0;      
    font-family: $mainFont;     
    #titleApp        
    {        
        font-weight: 700;
        font-size: xx-large;
        text-align: center;
    }

    #mainContainerList
    {
        width: 100%;
        display: flex;
        justify-content: center;        

        #containerList
        {
            display: flex;
            flex-direction: column;
            width: 90%;   
            height: 450px;                         
            border-radius: 10px;            
            background-color: #f3f4f7;  
            overflow-y: scroll;

            
                     

            .itemTask
            {
                width: 90%;
                display: flex;
                justify-content: space-around;                     
                align-self: center;  
                margin-top: 2%;     
                border-bottom: 1px solid $gray;
                #taskName
                {                    
                    width: 70%;
                    align-self: center;
                }                         
                #priorityText
                {
                    width: 10%;                    
                    border-radius: 20px;
                    padding: 1%;
                    text-align: center;
                    color: $white;
                }      
                img
                {
                    width: 30px;
                    height: 30px;
                    align-self: center;
                }                                                    
            }
        }
    }

    #containerList::-webkit-scrollbar {
        width: 7px;     /* Tamaño del scroll en vertical */              
    }

    #containerList::-webkit-scrollbar-thumb {  
        background: #037ef3;      
        border-radius: 4px;        
    }     

    .modalContainer 
    {
        display: none; 
        position: fixed; 
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        .modal-content
        {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid lightgray;            
            width: 40%;
            border-radius: 10px;

            .close
            {
                color: #aaaaaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }
            .close:hover,
            .modalContainer .close:focus
            {   
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
            
            #newTask
            {
                width: 100%;
                height: 30px;
                border: none;
                border-bottom: 1px solid $gray;
            }

            #selectPriority
            {
                width: 20%;                
                border: none;                                
            }

            #addTaskButton
            {
                width: 100%;
                margin-top: 5%;
                padding: 1%;
                border: none;
                background-color: $blue;
                color: $white;
                border-radius: 10px;   
                font-size: medium;                                          
            }            
        }
    }

    #addTaskContainer
    {
        display: flex;
        justify-content: center;
        margin-top: 2%;
        img:hover
        {
            cursor: pointer;
        }
    }

    
}